.App-header {
  background-color: #222;
  color: gray;
}
.navbar-menu {
  background-color: #222;
}
.navbar-item {
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.m-t-20 {
  margin-top: 20px;
}



.page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}

.newnote-page {
  height: calc(100vh - 52px);
  width: 60%;
}

.field:not(:last-child) {
  margin-bottom: 2.75rem;
}

.desktop-logo {
  padding-top: 1em;
  padding-bottom:.1em;
}
#nyc {
  color: #282828;
  font-size: xx-large;
  font-family: "Impact", Charcoal, sans-serif;
  padding-right: .2em;

}


#nav-toggle-state {
  display: none;
}

#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}


.mobile-logo {
  display:none;
}
.navbar-start {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 1em;
}
/* need to test/change max width */
@media only screen and (max-width: 900px) {
    .mobile-logo {
      display: inline-block;
    }
    .desktop-logo {
      display: none;
    }
}