.card {
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.05);
    padding: .8em;
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
  }
.card button {
    border: none;
    color: #3273dc;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}
.card button:hover {
    color: #363636;
}

.card-date {
    font-size: .95em;
    color: #505050;
}
.card-title {
    color: #282828;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: 700;
    padding-top: .2em;
}

.card-cont {

    color: #505050;
}
